.global-blue-bar {
    width: auto;
}

#word-list {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 20px 10px 20px;
}

#word-list .word {
    padding: 0 20px 0 0;
}
#word-list.over {
    background-color: #f9f9f9;
}

#group-titles {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#group-titles .cell {
    color: white;
    font-weight: bold;
    border-right: 1px solid #00B0F0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#key-table,
#group-content-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#group-content-table .cell:last-child,
#key-table .cell:last-child,
#group-titles .cell:last-child {
    border-right: none !important;
}
#key-table .cell.empty,
#group-titles .cell.empty {
    width: 148px;
}

#key-table .cell {
    display: none;
    vertical-align: top;
    border-top: 1px solid;
    border-right: 1px solid;
    padding-bottom: 20px;
    height: auto !important;
}
#key-table .key {
    color: #0D6FDB;
    vertical-align: top;
    line-height: 24px;
    padding-left: 20px;
    padding-top: 6px;
}

#group-content-table .cell {
    display: table-cell;
    height: 100px;
    border-right: 1px solid;
    vertical-align: top;
    padding: 13px 20px 20px 20px;    
}
#group-content-table .cell.over {
    background-color: #f2f2f2;
}
#group-content-table .cell.audio {
    text-align: center;
    vertical-align: top;
    width: 108px;
}
#group-content-table .cell .word {
    clear: both !important;
    display: block !important;
    line-height: 24px;
    padding: 0;
}
#group-content-table .word > img {
    vertical-align: bottom;
    float: right;
    margin-right: 6px;
}
#group-content-table .cell > img {
    max-width: 160px;
    margin: 10px auto;
    display: block;
}

#listening-audio {
    display: inline-block;
    margin-top: 7px;
}
#loadResult {
    margin: 0 auto;
    float: none;
}
.true-icon, .false-icon{
    height: 16px;
}
