#activity-guide{
    margin-top: 25px;
    border-top: 1px solid #f0f0f0;    
}

#activity-guide-wrap{
    margin:auto;
    width: 250px;
    margin-top: -9px;    
}

#activity-guide-wrap img{
    width: 20px;
    display: inline-block;
    padding-left: 10px;
    background-color: white;
}

#activity-guide-wrap div{
    display: inline-block;
    padding: 0 10px 0 5px;
    color: #8c8c8c;
    position: absolute;
    background-color: white;
}

#pictures-container {
    background-color:#FFFFFF;
    line-height:22px;
    margin-bottom: 20px;
    min-height: 50px;
    overflow: hidden;
    margin: 0 auto;
    width: 740px;
    padding: 10px 20px 20px 20px;
}

.character-picture-holder {
    float: left;
    width: 130px;
    margin: 15px 8px 0px 9px;
    cursor: move;
}

.character-picture{
    width: 128px;
    z-index: 2;
    border: 1px solid transparent;
}

.character-picture:hover{
    border: 1px solid #ff3430;
}

.character-picture-normal{
    opacity: 1;
}

.character-picture-slash{
    opacity: 0.3;
}

.represent-picture .character-picture{
    position: absolute;
}

.represent-picture{
    width: 77px;
    height: 77px;
    float: left;
    margin: 10px 10px 10px 0px;
    z-index: 1;
}

.ui-draggable-dragging{
    z-index: 4;
    border: 1px solid #ff3430;
}

.represent-picture-unmatch{
    background-color: #f2f2f2;
    border: 1px dashed #d9d9d9;
    opacity: 1;
}

.represent-picture-over{
    background-color:#ffe07d;
    border:1px solid #ff3430;
}

.represent-picture-match{
    border: 1px solid #D9D9D9;
    opacity: 1;
}

.represent-picture-slash{
    opacity: 0.3;
}

.represent-picture-mask {
    width: 75px;
    height: 75px;
    position: absolute;
    background-color: black;
    z-index: 3;
    opacity: 0.3;
    border: 1px solid black;
}

#sentences-container{
    width:740px;
    float:left;
    padding:0px 20px 20px 20px;
    line-height:22px;
    margin-bottom: 20px;
}
.exactly {
    color: #f8883c;
    font-weight: bold;
}
.sentence-holder{
    width: 310px;    
    float: left;
    margin-top: 20px;
    margin-right: 22px;
    cursor: move;
}

.sentence{
    float:left;
    padding:5px 0px 15px 0px;
    width: 221px;
    font-size:13px;
}

.true-false-icon{
    width:40px;
    margin-left: 17px;
    margin-top: 10px;
    position: absolute;
    z-index: 4;
}

#result-button{
    clear:both;
}

#loadResult {
    margin: 0 auto;
}