#left-sentence-list{
    float:left;
    width:360px;
    margin:10px;
}

#right-sentence-list{
    float:left;
    width:370px;
    margin:10px;
}

#sentences{
    list-style: none;
    font-size: 14px;
    font-family: "Segoe UI";
    margin-left: 20px;
    padding-left: 0;
}
#sentences li{
    margin-bottom:10px;
}
.blank-container{
    cursor:pointer;
}

.order-char{
    font-size:18px;
    font-family:"Segoe UI";
    font-weight: bold;
}

.text{
    width:330px;
    font-size:14px;
    font-family:"Segoe UI";
    border: 1px solid #e0e0e0;
    -moz-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    -webkit-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    box-shadow: inset 0 16px 30px -21px #d9d9d9;
    resize: none;
    overflow: auto;
}

.showdiff{
    background:#F5770F;
    padding:3px 7px 3px 7px;
    font-weight: bold;
    color:#FFF;
    cursor:pointer;
    display: inline-block;
    margin-top: 4px;
}
.false-icon{
    height: 18px;
}

.result {
    color:#a6a6a6;
}

#loadResult {
    margin: 0 auto;
}