#left-board {
    width: 400px;
    padding-bottom: 20px;
    display: table-cell;
    border-right: 1px solid #e8e8e8;
}

#right-wrapper {
    width: 590px;
    display: table-cell;
    vertical-align: top;
}

#right-board {
    overflow: hidden;
}

#left-board,#right-board,.help-board {
    min-height: 200px;
}

#bg-black {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    display: none;
    margin: 0;
}

.help-board {
    max-width: 780px;
    min-width: 400px;
    position: fixed;
    top: 120px;
    background: #fff;
    -moz-box-shadow: 0 3px 8px #161616;
    -webkit-box-shadow: 0 3px 8px #161616;
    box-shadow: 0 3px 8px #161616;
    display: none;
}

.help-board .global-blue-bar {
    height: 40px;
    width: 100%;
    background-color: #0097da;
    cursor: move;
    color: #FFF;
}

.help-board .global-blue-bar .text {
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    float: left;
    margin-left: 20px;
}

.help-board .global-blue-bar .close {
    width: 40px;
    height: 40px;
    float: right;
    background: url(../img/button-close-board.png) no-repeat 4px 8px;
}

.help-board .global-blue-bar .close:hover {
    background: url(../img/button-close-board.png) no-repeat -46px 8px;
    cursor: pointer;
}

.help-board .content {
    max-height: 600px;
    overflow: auto;
    padding: 14px 20px;
}

.useful-lang {
    color: #FFF;
    font-weight: 700;
    line-height: 34px;
    margin-left: 10px;
}

.paragraph-help {
    line-height: 24px;
    margin: 20px;
}

.help-links {
    color: #f60;
    font-weight: 700;
    margin: 20px;
}

#right-board .wrapper {
    margin: 20px;
}

#right-board .write,#right-board .plane,#right-board .check {
    line-height: 24px;
}

#right-board .write .title,#right-board .plane .title,#right-board .check .title {
    text-transform: uppercase;
    color: #f60;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

#right-board .paragraph-group {
    float: left;
    width: 170px;
}

#right-board .paragraph-group .paragraph {
    border-left: 20px solid #92d050;
    padding-left: 10px;
}

.writing-area {
    float: right;
}

.writing-area textarea {
    width: 240px;
    margin-top: 10px;
    min-height: 286px;
    font-family: "Segoe UI";
    padding-top: 2px;
    padding-left: 20px;
    background-color: #ffc;
    background-image: url("../img/bg-line-paper.png");
    background-position: 12px 0;
    background-repeat: repeat-y;
    border: none;
    resize: none;
    overflow: hidden;
    line-height: 21px;
}

#right-board .check {
    margin-top: 10px;
    clear: both;
}

#loadResult {
    margin: 0 auto;
}
