#card-container {
    width: 578px;
    float: left;
    padding: 10px 0 20px 10px;
}

.card-wrap {
    float: left;
    width: 140px;
    cursor: pointer;
    margin: 2px;
}

.plus-ten,.minus-one {
    width: 130px;
    line-height: 98px;
    font-size: 20px;
    font-weight: 700;
    color: #f79646;
    text-align: center;
    z-index: 2;
    position: absolute;
}

.back-image,.front-image {
    width: 130px;
    height: 98px;
    line-height: 98px;
    border: 5px solid #FFF;
    -moz-box-shadow: 0 1px 8px #ddd;
    -webkit-box-shadow: 0 1px 8px #ddd;
    box-shadow: 0 1px 8px #ddd;
    z-index: 1;
}

#word-term-container {
    float: right;
    width: 160px;
    margin-right: 10px;
    margin-top: 4px;
}

.word-term,.term-blank {
    float: right;
    width: 170px;
    height: 30px;
    margin: 10px 0;
}

.word-term {
    background-color: #f5770f;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
}

.term-blank {
    border: 1px solid #e0e0e0;
    -moz-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    -webkit-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    box-shadow: inset 0 16px 30px -21px #d9d9d9;
}

.word-term-ipa {
    text-align: center;
    background-color: #fefdd3;
    font-weight: 700;
    line-height: 98px;
}

#timer-label,#score-label {
    float: right;
    color: #6bae22;
    font-size: 20px;
    font-weight: 700;
    width: 170px;
    height: 30px;
    text-align: right;
}

#memorise-game-result-board {
    display: none;
    width: 578px;
    margin: auto;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
}

#result-board-title {
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 36px;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: 20px;
}

#result-board-title.global-orange-bar {
    width: 580px;
}

.result-label {
    width: 200px;
    padding-left: 150px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}

.result-number {
    width: 200px;
    color: #c00000;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}

#button-bar {
    border-top: 1px solid #F2F2F2;
    display: table-cell;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    width: 600px;
}

#play-again,#go-to-next {
    display: inline-block;
    margin-right: 10px;
}

#loadResult {
    margin: 0 auto;
}
