#activity-guide {
    margin-top: 10px;
    text-align: center;
    color: #8c8c8c;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 6px;
}

.sortable {
    list-style-type: none;
    width: 666px;
    float: left;
    padding-left: 0;
}

.ui-state-default {
    -moz-box-shadow: inset 0 16px 20px -21px #d9d9d9;
    -webkit-box-shadow: inset 0 16px 20px -21px #d9d9d9;
    box-shadow: inset 0 16px 20px -21px #d9d9d9;
    float: left;
    height: 24px;
    text-align: center;
    border: 1px solid #d9d9d9;
    margin: 0 10px 0 0;
    padding: 0 12px;
}

.ui-state-default:hover {
    border: 1px solid #F36D00;
}

.sentences {
    border-bottom: 1px solid #f2f2f2;
    padding-top: 0;
}

.sentences-number {
    float: left;
    width: 50px;
    padding-left: 20px;
}

.answers {
    list-style-type: none;
    width: 20px;
    text-align: center;
    height: 20px;
    float: right;
    margin: 0;
    padding: 15px 20px 0 0;
}

.answers li {
    margin: 0;
    padding: 0;
}

#sentences-content {
    float: left;
    width: 873px;
}

.questions {
    float: left;
    width: 17px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    border: 1px solid #CF630A!important;
    background-color: #F36D00!important;
    background-image: 0!important;
    padding: 0 4px;
}

.sortable li:hover {
    cursor: move;
}

#sentences-numbers ul,#sentences-content ul {
    padding-left: 10px;
    border-bottom: 1px solid #f2f2f2;
    margin: 0;
}
