.jplayer-container {
    float: left;
    margin: 20px;
}

#paragraph-container {
    float: left;
    border-left: 1px solid #dbdbdb;
    line-height: 24px!important;
    width: 590px;
    padding: 6px 20px;
}

#prev-link {
    display: inline-block;
    margin-left: 260px;
}

#next-link {
    display: inline-block;
    margin-left: 10px;
}

#loadResult {
    float: right;
}

.blank-container {
    cursor: pointer;
}

.text {
    border: 1px solid #D8D8D8;
    box-shadow: inset 0 32px 60px -42px #E0E0E0;
    width: 100px;
    outline: none;
    font-weight: 700;
    color: #B00000;
}

.text:focus {
    outline: none;
    background: #FFF7CC;
    box-shadow: none;
}

#audios-dialogs-container {
    float: left;
}
