.jplayer-container {
    float: left;
    margin: 15px;
}

.dialog-audio-container {
    float: left;
    cursor: move;
    margin: 10px 15px 20px 0;
}

.dialog {
    float: left;
    margin-left: 15px;
}

#activity-guide {
    margin-top: 25px;
    border-top: 1px solid #f0f0f0;
}

#activity-guide-wrap {
    width: 250px;
    margin: -9px auto auto;
}

#activity-guide-wrap img {
    width: 20px;
    display: inline-block;
    padding-left: 10px;
    background-color: #FFF;
}

#activity-guide-wrap div {
    display: inline-block;
    color: #8c8c8c;
    position: absolute;
    background-color: #FFF;
    padding: 0 10px 0 5px;
}

#pictures-container {
    background-color: #FFF;
    margin-bottom: 20px;
    min-height: 50px;
    overflow: hidden;
    width: 740px;
    padding: 20px;
}

.character-picture-holder {
    float: left;
    height: 105px;
    cursor: move;
    margin: 0 20px 20px 0;
}

.character-picture {
    height: 104px;
    z-index: 2;
    border: 1px solid transparent;
}

.character-picture:hover {
    border: 1px solid #ff3430;
}

.character-picture-normal {
    opacity: 1;
}

.represent-picture .character-picture {
    position: absolute;
}

.represent-picture {
    width: 140px;
    height: 105px;
    float: left;
    z-index: 1;
    margin: 15px 15px 15px 0;
}

.ui-draggable-dragging {
    z-index: 4;
    border: 1px solid #ff3430;
}

.represent-picture-unmatch {
    background-color: #f2f2f2;
    border: 1px dashed #d9d9d9;
    opacity: 1;
}

.represent-picture-over {
    background-color: #ffe07d;
    border: 1px solid #ff3430;
}

.represent-picture-match {
    border: 1px solid #D9D9D9;
    opacity: 1;
}

.represent-picture-mask {
    width: 140px;
    height: 105px;
    position: absolute;
    background-color: #000;
    z-index: 3;
    opacity: 0.3;
}

#sentences-container {
    width: 100%;
    float: left;
    line-height: 22px;
    margin-bottom: 20px;
}

.true-false-icon {
    width: 140px;
    height: 105px;
    text-align: center;
    position: absolute;
    z-index: 4;
}

.true-false-icon img {
    margin-top: 22px;
    height: 60px;
}

#result-button {
    clear: both;
}

#loadResult {
    margin: 0 auto;
}

.character-picture-slash,.represent-picture-slash {
    opacity: 0.3;
}
