.jplayer-container {
    float: left;
    margin: 20px;
}

#sentences-container {
    float: left;
    width: 580px;
    border-left: 1px solid #dbdbdb;
    min-height: 150px;
}

.true-false-icon {
    margin-left: 10px;
}

.false-icon,.true-icon {
    height: 20px;
}

#sentences {
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;
}

#sentences li {
    list-style: none;
    line-height: 24px;
    padding: 5px;
}

.choice {
    background-color: #FFF;
    cursor: pointer;
    color: #4375b1;
    font-weight: 700;
    border: 1px solid #F0F0F0;
    padding: 1px 5px;
}

.choice:hover {
    background-color: #f0f0f0;
}

#loadResult {
    margin: 0 auto;
}
