#audio-container {
    float: left;
    width: 148px;
}

.jplayer-container {
    float: left;
    margin: 20px;
}

#word-list {
    border-left: 1px solid #EAEAEA;
    font-weight: 700;
    float: left;
    padding: 20px;
    min-height: 110px;
}

.word-container {
    margin-bottom: 16px;
}

.syllable {
    color: #4375b1;
    border: 1px solid #F0F0F0;
    line-height: 24px;
    cursor: pointer;
    padding: 1px 5px;
}

.syllable:hover {
    background-color: #f0f0f0;
}

.show-result-button {
    margin: 0;
}

.true-icon,.false-icon {
    margin-left: 10px;
    height: 20px;
}

#loadResult {
    margin: 0 auto;
}
