#navigator-bar {
    width: 100%;
    padding-left: 0!important;
}

#navigator-bar .inactive-button:first-child {
    margin-right: 11px;
}

.global-tab-container {
    height: auto;
}

#word-speech-container {
    float: left;
    width: 380px;
    height: 380px;
    margin: 20px 0 20px 20px;
}

#speak-word-group {
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
    padding: 10px;
}

#speak-word {
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
}

#speak-word-ipa {
    font-size: 16px;
    color: #0070c0;
    text-align: center;
}

#speech-recognition-group {
    width: 300px;
}

#microphone-input {
    float: left;
    margin-left: 165px;
    height: 50px;
    width: 41px;
    font-size: 40px;
    cursor: pointer;
    margin-top: 50px;
    padding: 0 5px;
}

#speaker-wrapper {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    background: url(../img/speaker-black-gray.png) no-repeat;
    cursor: pointer;
}

#speaker-wrapper:hover {
    background-position: 0 -47px;
}

#recognition-result {
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    width: 300px;
    padding: 16px 20px 30px;
}

#result-pointer {
    display: block;
    width: 15px;
    margin-left: -7px;
    margin-bottom: 2px;
}

#tourist-label,#native-label {
    font-weight: 700;
}

#statistic-board {
    margin: 20px 20px 20px 0px;
    float: right;
    width: 340px;
    height: 380px;
    margin-left: 15px;
}

#number-try-label {
    color: #c00000;
}

#number-great-label {
    color: #00b050;
}

#number-acceptable-label {
    color: #0070c0;
}

#number-bad-label {
    color: #7f7f7f;
}

#chart-wrapper {
    width: 340px;
    float: left;
    border-top: 1px solid #e0e0e0;
}

.gradient-box {
    border: 1px solid #e0e0e0;
    -moz-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    -webkit-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    box-shadow: inset 0 16px 30px -21px #d9d9d9;
}

.title-box {
    float: left;
    height: 50px;
    width: 64px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.title-description {
    font-size: 16px;
    font-weight: 400;
}

#controls-bar {
    width: 100%;
}

#bottom-narvigator-bar {
    width: 475px;
    padding-left: 325px;
}

.bottom-navigator-button-image {
    background: url(../../img/orange_button.png) no-repeat;
    width: 138px;
    height: 37px;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    font-family: "Segoe UI";
    padding-top: 5px;
    margin: 15px;
}

#previous-button {
    float: left;
    margin-left: 394px;
}

#next-button {
    float: left;
    margin-left: 10px;
}

#finish {
    float: right;
}

#error-message {
    width: 1000px;
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

#raw-result {
    display: none;
}

#score-bar,#score-level {
    display: block;
    width: 300px;
}

#number-try-wrapper,#number-great-wrapper,#number-acceptable-wrapper {
    border-right: 1px solid #e0e0e0;
}
