#activity-container {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#activity-container > .cell {
    display: table-cell;
    vertical-align: top;
}

#right-board {
    max-width: 350px;
    overflow: hidden;
}

#video-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 380px;
}

.sentence-group-container {
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    min-height: 248px;
}

.sentence-container {
    display: none;
}

.sentence-container .user-input {
    border: 1px solid #e0e0e0;
    -moz-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    -webkit-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    box-shadow: inset 0 16px 30px -21px #d9d9d9;
    resize: none;
    overflow: hidden;
    font-family: 'Segoe UI';
    display: block;
    height: 40px;
    width: 98.6%;
    margin-top: 6px;
}

.question {
    margin-top: 20px;
}

.question .index {
    font-weight: 700;
    font-size: 18px;
}

.answer {
    margin-top: 10px;
    margin-bottom: 32px;
    overflow: hidden;
    line-height: 24px;
}

.answer .button {
    background-color: #F5770F;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    line-height: 24px;
    padding: 4px 8px;
}

.answer .text {
    color: #a6a6a6;
    margin-left: 2px;
    display: none;
}

a.my-player {
    width: 100%;
    height: 270px;
    text-align: center;
    float: left;
    background-color: #000;
    background-size: 100%;
}

a.my-player img {
    margin-top: 117px;
    border: 0;
}

#back-tab {
    float: left;
    margin-right: 10px;
}

#next-tab {
    float: left;
}

#finish {
    float: right;
}

.video-outer {
    width: 398px;
    overflow: hidden;
    margin: 20px auto;
    padding: 16px 20px 0 20px;
    border-right: 1px solid #E8E8E8;
}
