#activity-guide {
    margin-top: 20px;
    border-top: 1px solid #f0f0f0;
}

#activity-guide-wrap {
    width: 250px;
    margin: -9px auto auto;
}

#activity-guide-wrap img {
    width: 20px;
    display: inline-block;
    padding-left: 10px;
    background-color: #FFF;
}

#activity-guide-wrap div {
    display: inline-block;
    color: #8c8c8c;
    position: absolute;
    background-color: #FFF;
    padding: 0 10px 0 5px;
}

#map-container {
    width: 480px;
    position: relative;
    margin: 10px auto;
}

#map {
    width: 480px;
    z-index: 1;
}

.mark {
    border: 2px solid #FFF;
    background-color: #d80000;
    padding-top: 2px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    cursor: move;
    z-index: 2;
    position: absolute;
}

.mark:hover {
    border: 2px solid #FFE07D;
}

#word-wrapper {
    width: 780;
}

#word-container {
    padding: 0 10px 10px;
}

.group-title {
    color: #6bae22;
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
}

.word-wrap {
    float: left;
    width: 220px;
    padding: 8px 0 7px 10px;
}

.highlight-word-wrap {
    background-color: #b9e4f7;
}

.order {
    width: 20px;
    height: 20px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 20px;
    float: left;
    z-index: 2;
}

.order-unmatch {
    border: 1px dashed #d9d9d9;
    background-color: #f2f2f2;
}

.order-over {
    background-color: #ffe07d;
    border: 1px solid #ff3430;
}

.order-match {
    border: 1px solid #77933C;
    background-color: #6BAE22;
    cursor: move;
}

.order-match:hover {
    border: 1px solid #ff3430;
}

.word-definition {
    float: left;
    padding-left: 10px;
    width: 180px;
}

.emphasis {
    color: #f5770f;
    font-weight: 700;
}

.true-icon,.false-icon {
    margin-left: 10px;
    height: 19px;
}

#loadResult {
    margin: 0 auto;
}
