.class-study-menu-item {
    display: table;
    box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    border-bottom: 1px solid #E8E8E8;
    margin-top: -1px;
    padding: 10px 0px 10px 20px;
}

.class-study-menu-item-img, .class-study-static-menu-link {
    display: table-cell;
    vertical-align: middle;
}

.class-study-menu-item-img {
    margin-right: 10px;
}

.class-study-static-menu-link {
    width: 180px;
    padding-left: 10px;
}

.class-study-static-menu-link a {
    text-decoration: none;
    color: #0070C0;
}

.class-study-static-menu-link a:hover {
    text-decoration: underline;
}

.class-study-menu-item .active {
    color: #F36D00 !important;
    font-weight: bold;
}

#class-box {
    display: table;
    border-top: 1px solid #E8E8E8;
    margin-left: -20px;
    width: 1000px;
    min-height: 1000px;
    max-height: 1000px;
}

#class-navigation, #class-content {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 200px !important;
}

#class-navigation {
    padding: 0;
    width: 240px;
    box-shadow: inset -5px 0px 10px 0px #F6F6F6;
}

#class-content {
    padding: 20px 20px 20px 20px;
    line-height: 24px;
    border-left: 1px solid #E8E8E8;
    margin-top: -1px;
}

#class-study-general-info {
    padding: 20px 20px;
    box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    margin-left: -20px;
    margin-right: -20px;
    background: #F8F8F8;
}

#class-teacher-avatar {
    width: 40px;
    padding-right: 2px;
}

#class-teacher-description {
    margin-top: -6px;
    font-style: italic;
    color: #777;
}

#all-classes {
    color: #008CD2 !important;
    text-decoration: none;
}

#all-classes:hover {
    text-decoration: underline;
}

#class-teacher-name {
    margin-top: -2px;
}

#class-teacher-profile {
    display: table;
    float: right;
    margin-top: -50px;
    width: 220px;
}

#class-teacher-avatar, #class-teacher-info {
    display: table-cell;
    vertical-align: top;
}

#class-postassignment-menu-wrapper {
    background: #F8F8F8;
    padding-top: 11px;
    border-bottom: 1px solid #E8E8E8;
}