#statistics-nav, #teacher-working-list, #working-list {
    margin-left: 40px;
    margin-right: 40px;
}

#teacher-working-list, #working-list {
    margin-bottom: 100px;
}

#teacher-working-list .teacher-avatar {
    width: 20px;
    height: 20px;
}

#teacher-working-list h3, #working-list h3 {
    color: #5bc0de;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.working-subtitle {
    margin-bottom: 20px;
}

#working-list td {
    border-top: 1px solid #F0F0F0;
}

.word-link {
    color: #777;
}

#nav-title {
    color: black;
    font-weight: bold;
    border-right: 1px solid #e7e7e7;
}

#word-pagination {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #F6F6F6;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.has-image a {
    color: #F36D00 !important;
}

#word-pagination a:hover {
    color: white;
    text-decoration: none;
}