body {
	background: #fff !important;
}

#front-content {
    padding: 0px !important;
    margin-top: 0px !important;
    /*    height: 500px !important;*/
    width: 1000px !important;
    /*line-height: 24px;*/
}

#front-footer, #front-bluebar, #front-menu {
	display: none !important;
}

#front-content-box {
	box-shadow: none !important;
}

#front-content {
	box-shadow: none !important;
}

#next-activity {
	display: none !important;
}

#activity-result-uc-box {
	display: none;
}