body {
    background: white !important;
}

#front-content-box {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    width: 100% !important;
    margin-top: 0px;
}

#activity-exmple-container {
    line-height: 24px;
}

#front-content {
    padding: 0px !important;
    width: 100% !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}

#activity-info-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    /*    border-left: 1px solid #E8E8E8;
        border-right: 1px solid #E8E8E8;*/
}

#activity-info-box {
    /*        background: #F8F8F8;*/
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px -1px 20px 0px #F0F0F0;
}

#activity-basic-info {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

#activity-basic-info h2 {
    text-decoration: none;
    color: #F36D00;
    /*    color: #F36D00;*/
}

#activity-basic-info h3 a:hover {
    text-decoration: underline;
}

#activity-basic-info h2 {
    margin-top: 6px;
    padding-left: 0px;
    padding-bottom: 6px;
}


#activity-info-box {
    border-bottom: 1px solid #E8E8E8;
}

#activity-siblings {
    /*    float: right;*/
    font-size: 16px;
    margin-left: -20px !important;
}

#activity-infor {
    /*    min-height: 600px;*/
}

#front-content-box {
    /*    margin-bottom: 40px;*/
    padding-bottom: 20px;
}

#finished-activity-messages {
    position: fixed;
    left: 122px;
    display: none;
    z-index: 9999;
}

#finished-activity-messages-box {
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0px -1px 20px 2px #F4F4F4;
    z-index: 15000;
    height: 451px;
}

#finished-activity-messages-button {
    font-size: 13px;
}

#perfect-score-img, #perfect-score-message {
    display: table-cell;
    vertical-align: top;
}

#perfect-score-message {
    text-align: justify;
    width: 210px;
    padding-left: 10px;
    line-height: 24px;
}

#perfect-score-message-box {
    display: table;
    /*    border-bottom: 1px solid #E8E8E8;*/
    padding-bottom: 10px;
    margin-bottom: 10px;
    /*    background: #FEF5CB;*/
    /*    border: 1px solid #FEE46D;*/
    border: 1px solid #E8E8E8;
    box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    background: white;
    padding: 10px;
}

#finished-activity-messages-button-box {
    margin-top: 20px;
    text-align: center;
    /*    border-top: 1px solid #E8E8E8;*/
    /*    padding-top: 10px;*/
}

.finished-activity-message-item-title {
    /*    border-bottom: 1px solid #E8E8E8;*/
    padding-bottom: 0px;
    color: #F36D00;
}

#take-this-course, #go-to-this-course {
    margin-top: -74px !important;
}

/*#activity-info-box {
    background: #F6F6F6;
}*/

#facebook-comment-box {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Segoe UI", "Arial" !important;
}

.fb-comments {
    margin-left: auto;
    margin-right: auto;
}

#demo-course-title {
    text-decoration: none;
    color: #F36D00;
}

#demo-course-title:hover {
    text-decoration: underline;
}

#demo-activity-title {
    color: black;
}

#activity-result-uc-box {
    display: none;
}

#next-activity {
    display: none;
}

#discover-register-link {
    /*float: right;*/
    margin-top: 26px;
    padding: 0px 10px;
}

#discover-register-link a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

#register-link {
    /*margin-left: 10px;*/
}

#facebook-comment-wrapper {
    text-align: left;
    float: left;
}

#facebook-fanpage-box {
    float: right;
    width: 300px;
    text-align: left;
    margin-top: -20px;
}

.fanpage-message {
    line-height: 24px;
    color: #666666;
    margin-bottom: 20px;
}

#hot-links {
    display: none;
}

.course-breadcrumb {
    position: fixed;
    margin: -20px 0px;
    z-index: 9999;
    width: 100%;
}

.front-flat-menu-item-active {
    color: #F36D00;
    font-weight: 600;
    background: #eee;
}