#organization-members-placeholder {
    margin-top: 40px;
    padding: 0px 30px 0px 30px;
    min-height: 500px;
}

.organization-member {
    width: 220px;
    float: left;
    position: relative;
    padding: 10px;
    background: #F8F8F8;
    margin-right: 10px;
    margin-bottom: 10px;
    display: table;
    line-height: 24px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 10px #EEE;
    -moz-box-shadow: 0 0 10px #EEE;
    -webkit-box-shadow: 0 0 10px #EEE;
}

.organization-member:hover {
    background: #F0F0F0;
    cursor: pointer;
}

.member-info {
/*    margin-top: -16px;*/
    width: 160px;
}

.member-fullname {
    font-weight: bold;
}

.member-photo {
    width: 44px;
    height: 44px;
    border: 1px solid #E0E0E0;
    padding: 2px;
    background: white;
}

.member-role {
    color: #666;
    font-size: 12px;
}

.member-email {
    color: #0b559b;
    font-size: 12px;
}

.member-email {
    text-decoration: underline;
}

.member-info-column {
    display: table-cell;
    vertical-align: top;
}

.clear-both {
    clear: both;
}