body {
    background: white !important;
}

#front-content-box {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    width: 100% !important;
    margin-top: 0px;
}

#front-content {
    padding: 0px !important;
    width: 100% !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}

#activity-info-container {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

#activity-info-box {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: inset 0px -1px 20px 0px #F2F2F2;
    -moz-box-shadow: inset 0px -1px 20px 0px #F2F2F2;
    -o-box-shadow: inset 0px -1px 20px 0px #F2F2F2;
    -ms-box-shadow: inset 0px -1px 20px 0px #F2F2F2;
    box-shadow: inset 0px -1px 20px 0px #F2F2F2;
}

#activity-basic-info {
    width: 780px;
    padding-top: 30px;
    height: 64px;
    background: #F8F8F8;
}

#activity-basic-info h3 a {
    text-decoration: none;
    color: #B00000;
}

#activity-basic-info h3 a:hover {
    text-decoration: underline;
}

#activity-basic-info h3 {
    margin-top: 6px;
    padding-left: 20px;
    padding-bottom: 4px;
}

#activity-info-box {
    border-bottom: 1px solid #E8E8E8;
}

#activity-siblings {
    font-size: 16px;
    float: right;
    margin-top: -20px;
    margin-right: 10px;
}

#front-content-box {
    padding-bottom: 20px;
}

.front-flat-menu-item-inactive {
    border: 1px solid #E3E3E3;
    background: #F2F2F2;
    -moz-box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    -ms-box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    -o-box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FBFBFB), color-stop(1, #F2F2F2) ) !important;
    background: -moz-linear-gradient( center top, #FBFBFB 5%, #F2F2F2 100% ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#F2F2F2') !important;
    color: #303030;
    text-shadow: 1px 1px 0px white;
    font-weight: bold;
}

.front-flat-menu-item-inactive:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F2F2F2), color-stop(1, #F9F9F9) ) !important;
    background: -moz-linear-gradient( center top, #F2F2F2 5%, #F9F9F9 100% ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#F9F9F9') !important;
    background-color: #F2F2F2;
    cursor: pointer;
}

#go-to-next-activity, #go-to-prev-activity {
    min-width: 70px !important;
    max-width: 70px !important;
}

#go-to-next-activity a, #go-to-prev-activity a {
    font-size: 14px !important;
}

#finished-activity-messages {
    position: fixed;
    top: 206px;
    width: 300px;
    left: 110px;
    z-index: 30;
    display: none;
}

#finished-activity-bar {
    width: 300px;
    height: 35px;
}

#finished-activity-messages-box {
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    background: white;
    height: 422px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0px -1px 20px 2px #F4F4F4;
}

#finished-activity-messages-button {
    font-size: 13px;
}

#perfect-score-img, #perfect-score-message {
    display: table-cell;
    vertical-align: top;
}

#perfect-score-message {
    text-align: justify;
    width: 210px;
    padding-left: 10px;
    line-height: 24px;
}

#perfect-score-message-box {
    display: table;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #E8E8E8;
    box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    background: white;
    padding: 10px;
}

#finished-activity-messages-button-box {
    margin-top: 20px;
    text-align: center;
}

.finished-activity-message-item-title {
    padding-bottom: 0px;
    color: #F36D00;
}