#front-content {
    padding: 0px !important;
    margin-top: 0px !important;
    /*    height: 500px !important;*/
    width: 1000px !important;
    line-height: 24px;
}

.series-review-list {
    background: #F6F6F6;
    padding: 0px 20px 0px 20px;
}

#series-detail-left-bar {
    padding-top:0px;
    background: #F6F6F6;
    border-top: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

#series-detail-right-bar {
    box-shadow: inset 5px 0px 10px 0px #F2F2F2;
    border: 1px solid #EAEAEA;
}

#series-detail-box h3 {
    padding-top: 20px;
    margin-top: 0px;
}

#title-label, #content-label {
    display: block;
}

#title, #content {
    
    box-shadow: inset 0 32px 60px -42px #E8E8E8;
    border: 1px solid #E0E0E0;
    outline: none;
}

#title {
    width: 554px;
    height: 24px;
}

#content {
    width: 550px;
    height: 240px;
}

.review-form-element {
    margin-bottom: 10px;
}

#add_review_submit {
    font-size: 14px;
}