body {
    height: 100%;
}

#front-content {
    padding: 0px 0px 40px 0px !important;
    width: 1000px !important;
    line-height: 24px;
}

#series-basic-info {
    padding:10px 20px 30px 20px;
    background: #F6F6F6;
}

#series-title {
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    font-weight: normal;
}

#series-content {
    margin-top: 0px;
    background: #F6F6F6;
}

#series-statistics {
    color: #666666;
}

#series-progress, #series-score {
    font-weight: bold;
}

#series-number-of-activities {
    /*    color: black;*/
}

#series-progress {
    color: #B00000;
}

#series-score {
    color: #B00000;
}

#series-title a {
    text-decoration: none;
    color: #008CD2;
    font-weight: bold;
}

#series-title a:hover {
    text-decoration: underline;
}

#series-start-learning {
    
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    border: 1px solid #59A514;
    background-color: #6FCC1A;
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#72D11B),to(#65BB17));
    background-image: -webkit-linear-gradient(top,#72D11B,#65BB17);
    background-image: -moz-linear-gradient(top,#72D11B,#65BB17);
    background-image: -ms-linear-gradient(top,#72D11B,#65BB17);
    background-image: -o-linear-gradient(top,#72D11B,#65BB17);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #ccc;
    -webkit-box-shadow: 0 1px 2px #CCC;
    box-shadow: 0 1px 2px #CCC;
    color: white;
    text-shadow: none;
    text-decoration: none;
}

#series-start-learning:hover {
    background-color: #6FCC1A;
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#6FCC1A),to(#6CC81A));
    background-image: -webkit-linear-gradient(top,#6FCC1A,#6CC81A);
    background-image: -moz-linear-gradient(linear,0% 0,0% 100%,from(#6FCC1A),to(#6CC81A));
    background-image: -ms-linear-gradient(linear,0% 0,0% 100%,from(#6FCC1A),to(#6CC81A));
    background-image: -o-linear-gradient(linear,0% 0,0% 100%,from(#6FCC1A),to(#6CC81A));
}

.section-name {
    padding: 4px 20px 20px 20px;
    border-bottom: 1px solid #E8E8E8;
    -webkit-box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    -moz-box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    -o-box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    -ms-box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    font-size: 16px;
/*    color: #F36D00;*/
}

.section-slideshow {
    margin-bottom: 20px;
}

.section-slideshow-slides, .section-slideshow, .slides_container {
    width: 400px;
    height: 300px;
}

.section-slideshow-slides {
    position: relative;
}

.slide-image {
    width: 400px;
}

.pagination {
    z-index: 1002 !important;
    position: absolute;
    margin: -30px 0px 0px 0px;
    padding-top: 10px;
    padding-right: 10px;
    right: 0px;
    text-align: right;
    height: 20px;
    padding-right: 20px !important;
}

.slide-caption {
    min-height: 80px !important;
    max-height: 90px !important;
    min-width: 160px !important;
    max-width: 180px !important;
    padding: 10px;
    position: absolute;
    top: 100px;
    right: 0px;
    vertical-align: middle;
    opacity: 0.95;
    color: white;
    background: #B4263E;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px !important;
}

.section-content-box, .series-content-box {
    margin: 20px;
    padding: 20px 20px 20px 20px;
    background: #F8F8F8;
    display: table;
    /*    -webkit-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
        -moz-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
        -o-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
        -ms-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
        box-shadow: inset 0px -1px 20px 0px #F0F0F0;*/
}

.section-content-structure, .section-highlight, .series-content-structure, .series-highlight {
    display: table-cell;
    vertical-align: top;
}

.section-highlight, .series-highlight {
    width: 500px;
    padding-right: 20px;
}

.section-content-structure, .series-content-structure {
/*    padding-left: 20px;*/
    width: 500px;
    background: white;
    border: 1px solid #E8E8E8;
    padding: 10px 20px 20px 30px;
    box-shadow: inset 0 32px 60px -42px #D9D9D9;
}

.series-content-structure {
    padding: 10px 0px 20px 0px !important;
}

.series-content-structure-full {
    background: white;
    border: 1px solid #E8E8E8;
    padding: 10px 20px 20px 30px;
    box-shadow: inset 0 32px 60px -42px #D9D9D9;
    width: 870px;
}

.section-content-box h4, .series-content-box h4 {
    margin: 0px 0px 14px 0px;
}

.template-level-1-basic-info {
    border-bottom: 1px solid #E8E8E8;
}

.series-activity-list-box {
    list-style: square;
}

.series-activity-content-header {
    margin-top: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.section-content-description, .series-content-description {
    background: white;
    padding: 20px;
    border: 1px solid #E8E8E8;
    -moz-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -ms-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -o-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -webkit-box-shadow: inset 0 32px 60px -42px #D9D9D9;
    box-shadow: inset 0 32px 60px -42px #D9D9D9;
    -webkit-box-shadow: inset 0 32px 60px -42px #D9D9D9;
    -moz-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -o-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -ms-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    min-height: 260px;
}

.series-content-description {
    min-height: 100px !important;
}

.section-blue-bar {
    height: 36px;
    /*    background: #0B86F9;*/
    /*    border: 1px solid #005F8C;*/
    background-color: #009BE6;
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#009BE6),to(#0082BF));
    background-image: -webkit-linear-gradient(top,#009BE6,#0082BF);
    background-image: -moz-linear-gradient(top,#009BE6,#0082BF);
    background-image: -ms-linear-gradient(top,#009BE6,#0082BF);
    background-image: -o-linear-gradient(top,#009BE6,#0082BF);
}

.template-level-2-page-link-ul a {
    padding: 4px 10px 4px 10px !important;
    margin-right: 0px !important;
}

.section-structure, .series-structure {
    background: white;
    border: 1px solid #E8E8E8;
    -moz-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -ms-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -o-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -webkit-box-shadow: inset 0 32px 60px -42px #D9D9D9;
    box-shadow: inset 0 32px 60px -42px #D9D9D9;
    /*
        -webkit-box-shadow: inset 0 32px 60px -42px #D9D9D9;
        -moz-box-shadow: inset 0 32px 60px -42px #d9d9d9;
        -o-box-shadow: inset 0 32px 60px -42px #d9d9d9;
        -ms-box-shadow: inset 0 32px 60px -42px #d9d9d9;*/
    min-height: 280px;
    padding: 20px 0px 0px 0px;
}

.section-structure .tabify-menu {
    float: right !important;
}

.section-structure .tabify-content {
    margin-top: 0px !important;
    padding: 10px 20px 14px 30px;
}

.activity-list-table {
    /*    display: table;*/
    width: 448px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.second-level-child-item, .first-level-child-item, .third-level-child-item {
    display: table;
    width: 448px;
    /*    height: 2px;*/
    height: 32px;
    -webkit-box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    -moz-box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    -o-box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    -ms-box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    /*    border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;*/
    border: 1px solid #E8E8E8;
    margin-top: -1px;
    text-decoration: none;
    color: black;
}

.second-level-child-item, .first-level-child-item, .third-level-child-item {
    /*    border-bottom: 1px solid #E8E8E8;*/
    text-decoration: none;
    color: black;
    display: table;
    width: 448px;
    height: 32px;
}

.activity-list-box {
    padding: 6px 20px 0px 20px;
}


.second-level-child-item:hover, .first-level-child-item:hover, .third-level-child-item:hover {
    background: #F8F8F8;
    color: #F36D00;
}

.activity-is-done, .activity-title, .activity-score {
    display: table-cell;
    vertical-align: center;
    padding-top: 3px;
}

.activity-is-done {
    width: 22px;
    border-right: 1px solid #E8E8E8;
    padding-left: 10px;
    font-size: 16px;
    color: #0074AE !important;
}

.activity-score {
    width: 60px;
    text-align: center;
    border-left: 1px solid #E8E8E8;
    font-weight: bold;
    color: #B00000;
}

.activity-title {
    padding-left: 10px;
    list-style: square;
}

.section-content-structure-full {
    width: 920px;
}

.section-content-structure-full .activity-list-table {
    width: 870px;
}

.section-content-structure-full .activity-list-table a {
    width: 860px;
}

.template-level-1-header {
    padding-left: 20px;
}

#series-content-box {
    padding: 0px 0px 40px 0px;
    margin-top: 0px;
    background: white;
    border-top: 1px solid #E8E8E8;    
    border-bottom: 1px solid #E8E8E8;    
}

#series-content-box .activity-list-box {
    width: 960px;
}

#series-content-box .activity-list-box a {
    width: 960px !important;
}

.item-activities {
    margin-top: 0px;
}

.item-activities li {
    list-style: square;
}

.item-activities a {
    text-decoration: none;
    color: #0074AE;
}

.item-activities a:hover {
    color: #F36D00;
}

.series-level-3-item h4 {
    padding: 0px;
    margin: 4px 0px 4px 0px;
}

.level-4-header1 {
    color: #666666;
}

.section-content-tree {
/*    display: none;*/
}

.section-view-switch {
    width: 180px;
    float: right;
    margin-top: -64px;
    display: table;
    border-radius: 6px;
    border: 1px solid #E8E8E8;
    margin-right: 20px;
    -webkit-box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    -moz-box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    -o-box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    -ms-box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    color: #333333;
}

.box-mode, .tree-mode {
    width: 90px;
    display: table-cell;
    vertical-align: top;
    padding-top: 2px;
    text-align: center;
}

.view-mode-active {
    background: #F6F6F6 !important;
    font-weight: bold;
    color: #F36D00;
}

.view-mode-active:hover {
    background: #F6F6F6 !important;
}

.box-mode {
    border-right: 1px solid #E8E8E8;
}

.box-mode:hover, .tree-mode:hover {
    /*    color: #009BE6;*/
    cursor: pointer;
    background: #F6F6F6;
}

.view-mode-img {
    margin-top: 5px;
    margin-right: 0px;
}

.tree-item-node {
    font-weight: bold;
}

.tree-item-acitivity a {
    text-decoration: none;
    color: #0070C0;
/*    color: #333333;*/
}

.tree-item-acitivity a:hover {
    text-decoration: underline;
}

.section-content-tree {
/*    margin: 20px;
    background: #F6F6F6;
    padding: 20px;
    height:100%;*/
}

.section-content-tree-placeholder {
    background: white;
/*    background: white;
    border: 1px solid #E8E8E8;
    padding: 10px 20px 20px 30px;
    box-shadow: inset 0 32px 60px -42px #D9D9D9;
    -webkit-box-shadow: inset 0 32px 60px -42px #D9D9D9;
    -moz-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -o-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -ms-box-shadow: inset 0 32px 60px -42px #d9d9d9;*/
/*    min-height:270px;*/
}

.section-child {
    margin: 4px 0px 4px 0px;
}

.section-tree-title {
    border-bottom: 1px solid #E8E8E8;
}

.section-tree-list {
    padding-left: 30px;
}

.tree-item-active a, .tree-item-active {
    color: #F36D00 !important;
    font-weight: bold !important;
}

.section-content-image {
    width:400px;
}

.section-content-structure-full .section-content-tree {
    background: white;
    border: 1px solid #E8E8E8;
    padding: 10px 20px 20px 30px;
    box-shadow: inset 0 32px 60px -42px #D9D9D9;
    -webkit-box-shadow: inset 0 32px 60px -42px #D9D9D9;
    -moz-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -o-box-shadow: inset 0 32px 60px -42px #d9d9d9;
    -ms-box-shadow: inset 0 32px 60px -42px #d9d9d9;
}

.series-content-image-box {
    width: 560px;
}

.series-content-image-box img {
    width: 560px;
}

#write-your-reviews {
    
    text-decoration: none;
    
    margin-left: 10px;
}

#series-button {
    float: right;
    margin-top: -36px;
/*    float: right;
    margin-top: -46px;*/
}