#school-holder-box, #school-teacher-box {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    -webkit-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    -moz-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    -o-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    -ms-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    background: #F6F6F6;
    min-height: 130px;
}

#school-holder-menu > li, #school-teacher-menu > li {
    float: right;
    min-width: 100px !important;
    /*
    max-width: 100px !important;
    */
}

#school-holder-menu li a, #school-teacher-menu li a {
    display: block;
    /*
    padding-left: 4px !important;
    */
}

#school-holder-menu li i, #school-teacher-menu li i {
    font-size: 14px;
    padding-right: 0px;
}

.front-flat-menu-item-active i {
    color: #F36D00;
}

#school-logo-box {
    float: left;
    width: 88px;
    height: 88px;
    margin-top: -10px;
    margin-right: 20px;
    padding: 6px;
    border-radius: 50%;
    box-shadow: inset 0px -5px 20px 0px #FAFAFA;
    background: white;
    border: 1px solid #E0E0E0;
    text-align: center;
}

#school-logo {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

#school-title a {
    color: #000;
    text-decoration: none;
}
#school-title a:hover {
    text-decoration: underline;
}

.top-panel {
    /*padding-bottom: 20px;*/
    box-shadow: 0 -5px 10px 0 #F6F6F6 inset;
    background: white;
    border-bottom: 1px solid #E8E8E8;
    margin: 0 -20px 0 -20px;
    padding: 20px;
    height: 64px;
}

.top-panel #title {
    margin: -12px 0 0 0;
    float: left;
}

.top-panel #title p {
    color: #888;
    padding-top: 0px;
    margin-top: -10px;
}

.top-panel h2 {
    color: #B00000;
}

.top-panel #add-teacher {
    width: 181px;
    float: right;
    margin-top: 12px;
}

.top-panel #edit-teacher, .top-panel #delete-teacher {
    width: 127px;
    float: right;
    margin-top: 12px;
    margin-left: 10px;
}

.top-panel h2 .teacher-list {
    color: #B00000;
    text-decoration: none;
}

.top-panel h2 .teacher-list:hover {
    color: #F36D00;
}

.top-panel h2 .teacher-name {
    color: #333;
}

#program-header {
    margin: 0 -20px 30px -20px;
    box-shadow: 0 -5px 10px 0 #F6F6F6 inset;
    background: white;
    padding: 20px;
    height: 49px;
    border-bottom: 1px solid #E8E8E8;
}

#programheader h2 {
    font-weight: bold;
    /*color: #0070C0;;*/
    color: #B00000;
    margin-top: 0px;
}

#programheader p {
    color: #888;
    padding-bottom: 14px;
    margin-top: -10px;
}

.empty-students {
    text-align: center;
    border: #FFEAB3 1px solid;
    background: #FFF9E8;
    padding: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}


#program-box {
    display: table;
    margin-left: -20px;
    width: 1000px;
    min-height: 1000px;
    max-height: 1000px;
}

#program-navigation, #program-content {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 200px !important;
}

#program-navigation {
    padding: 0;
    width: 240px;
    box-shadow: inset -5px 0px 10px 0px #F6F6F6;
}

#program-content {
    padding: 20px 20px 20px 20px;
    line-height: 24px;
    border-left: 1px solid #E8E8E8;
    margin-top: -1px;
}

#program-menu {
    margin: 0;
    padding: 0;
}

#program-menu li a {
    text-decoration: none;
    color: #0070C0;
}

#program-menu li a:hover {
    text-decoration: underline;
}

#program-menu .active a {
    color: #F36D00 !important;
    font-weight: bold;
}

#program-menu li {
    /*width: 100%;*/
    display: block;
    box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    border-bottom: 1px solid #E8E8E8;
    margin-top: -1px;
    padding: 14px 0px 14px 20px;
    list-style: none;
}

#add-program-button, #add-working-button {
    width: 160px;
    display: block;
    margin: 20px auto;
}

#program-header {
    margin: -20px -20px 30px -20px;
    box-shadow: 0 -5px 10px 0 #F6F6F6 inset;
    background: white;
    padding: 20px;
    height: 49px;
    border-bottom: 1px solid #E8E8E8;
}

#program-header h2 {
    font-weight: bold;
    /*color: #0070C0;;*/
    color: #B00000;
    margin-top: 0px;
}

#program-header p {
    color: #888;
    padding-bottom: 14px;
    margin-top: -10px;
}