/* 
    Document   : Common_RollPlay
    Created on : Jul 27, 2012, 10:01:20 AM
    Author     : My Documents
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;

}
#main-board {
    overflow: hidden;
    background-color: #f2f1ec;
    border-right: none;
}
#main-container {
    display: table;
}
#page {
    position: absolute;
    z-index: 1;
}
#flashcontent {
    background: transparent;
    position: fixed;
    left: 560px;
    top: 200px;
}
#page h1 {
    display: none;
}
#content-container{
    position: relative;
    background: #f2f1ec;
    width: 798px;
    display: table-cell;
}
#menu-container {
    background: #e1e0dc;
    width: 200px;
    padding-bottom: 40px;
    height: 100%;
    display: table-cell;
    vertical-align: top;
}
#scenario-container {
    float: left;
}
.character-img {
    position: absolute;
}
.audio {
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    padding-top: 5px;
    padding-bottom: 0px;
}
.scenario {
    width: 200px;
    float: left;
    border-top: 1px solid white;
    font-weight: bold;
    border-bottom: 1px solid #c0bfbb;
    cursor: pointer;
    color: #373737;
}
.scenario-inactive
{
    font-weight: bold;
    overflow: hidden;
    padding: 5px 10px;
    width: 130px;
    margin: 5px 5px 5px 10px;
    position: relative;
}
.scenario-active {
    position: relative;
    width: 130px;
    color: #fff;
    overflow: hidden;
    background: #e53f3f;
    box-shadow: 0px -1px 0px 0px #e98785;
    margin: 5px 5px 5px 10px;
    padding: 5px 10px;
    border: 1px solid #e42b2b;
    border-right: none;
}
.red-poly {
    position: absolute;
    height: 35px;
    right: -2px;
    top: -2px;
    display: none;
}
.you {
    float: left;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 16px;
    cursor:pointer;
    color: #373737;
    font-weight: bold;
}
.sample {
    float: left;
    margin-left: 10px;
    font-size:16px;
    color: #6ba3c5;
    font-weight: bold;
    cursor:pointer;
}
.mode {
    float: left;
}
#mode-container {
    border-top: 1px solid white;
    width: 200px;
    min-height: 20px;
    float: left;
}
#mode-container p {
    text-align: center;
    color: #8b8a8a;
    font-weight: bold;
}
#col-div {
    position: absolute;
    top: 0px;
    left: 45px;
    min-height: 200px;
    height: 100%;
    margin-top: 100px;
    width: 9px;
    background: url('../../blueocean/img/colbg.png');
}
#sample-listen {
    background: url('../../blueocean/img/playbutton.png');
    height: 34px;
    text-align: center;
    padding-top: 11px;
    width: 120px;
    margin: 20px 0 0 40px;
    cursor: pointer;
}
#replay {
    background: url('../../blueocean/img/playbutton.png');
    height: 34px;
    text-align: center;
    padding-top: 11px;
    width: 120px;
    margin: 10px 0 0 40px;
    cursor: pointer;
}
#replayAll {
    background: url('../../blueocean/img/playbutton.png');
    height: 34px;
    cursor: pointer;
    text-align: center;
    padding-top: 11px;
    width: 120px;
    margin: 10px 0 0 40px;
}
#play-mode{
    float: left;
    overflow: hidden;
}
#page button {
    width: 1px;
    height: 1px;
}
.content-block {
    margin-top: 50px;
    border-radius: 5px;
    moz-border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #aeadab;
    moz-box-shadow: 1px 1px 2px 1px #aeadab;
    width: 656px;
    min-height: 100px;
    border: 1px solid #d1d0ce;
    float: left;
    margin-left: 100px;
}
.order-inactive {
    border-radius: 50%;
    background: #787878;
    color: #f4f2ef;
    font-weight: bold;
    border: solid 1px #6a6a6b;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    float: left;
}
.order-active {
    border-radius: 50%;
    background: #fff;
    color: #e64040;
    font-weight: bold;
    border: solid 1px #e42b2b;
    text-align: center;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    float: left;
}
.wellcome-img {
    position: absolute;
    left: -82px;
    top: 0px;
}
#wellcome-container {
    position: relative;
}
.start{
    text-decoration: underline;
    color: #3ac8f6;
    cursor: pointer;

}
.star {
    cursor: pointer;
}
#top-wellcome {
    padding: 5px 20px;
    border-bottom: 1px solid #d2d2d2;
    background: #fff;
    width: 616px;
    border-left-top-radius: 5px;
    border-right-top-radius: 5px;
}
#bottom-wellcome {
    padding: 0px 20px;
    overflow: hidden;
    width: 656px;
}
#expert-tip {
    width: 226px;
    min-height: 150px;
    border: 1px solid #d1d0ce;
    moz-border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #aeadab;
    moz-box-shadow: 1px 1px 2px 1px #aeadab;
    margin: 50px 0px 0px 30px;
    float: left;
}
.no-record {
    float: left;
    margin: 20px;
}
.number-review {
    float: left;
    margin: 5px 0px 5px 5px;
    color: #e64c4e;
    font-size: 14px;
    font-weight: bold;
}
.review {
    float: left;
}
.review-item {
    float: left;
    padding-top: 10px;
    width: 100%;
}
.reviewing-item {
    float: left;
    padding-top: 10px;
    width: 100%;
    background: #F0F0F0;
}
.rating {
    list-style-type: none;
    float: left;
    padding: 0px ;
    margin: 5px;
}
.rating li {
    float: left;
    margin-left: 5px;
}
.item-delete {
    float: left;
    margin: 4px;
    width: 18px;
    cursor: pointer;
}
.item-play {
    float: left;
    margin: 4px;
    width: 18px;
    cursor: pointer;
}
.item-best {
    float: left;
    margin: 4px;
    width: 18px;
    cursor: pointer;
}
.audio-container {
    float: left;
}
.record-container {
    float: left;
    cursor: pointer;
}
.detail-review {
    overflow: hidden;
    background: #e6e7e9;
}
.dialog-audio-container {
    cursor: pointer;
}
#listening-list {
    width: 776px;
    padding: 10px;
    float: left;
}
.triangle {
    width: 11px;
    position: absolute;
    left: -11px;
    top: 22px;
}
.delconfirm {
    float: left;
    padding: 5px 30px;
    width: 160px;
    font-weight: bold;
    background: #3ac8f6;
    color: #fff;
}
.yestodel {
    margin-bottom: -2px;
    margin-left: 20px;
    cursor: pointer;
}
.notodel {
    width: 12px;
    cursor: pointer;
    margin-left: 10px;
}
.review-block {
    width: 226px;
    background: white;
    margin: 10px 0px 10px 20px;
    min-height: 100px;
    border: 1px solid #d1d0ce;
    box-shadow: 1px 1px 2px 1px #aeadab;
    moz-box-shadow: 1px 1px 2px 1px #aeadab;
    border-radius: 5px;
    padding: 0px;
    float: left;
}

.listening-block {
    position: relative;
    margin: 10px;
    border: 1px solid #d1d0ce;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    margin-left: 90px;
    box-shadow: 1px 1px 2px 1px #aeadab;
    moz-box-shadow: 1px 1px 2px 1px #aeadab;
}
.avatar-container {
    position: absolute;
    top: 0px;
    left: -85px;
    width:60px;
    height: 60px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: white;
}
.rounded-avatar {
    border-radius: 50%;
    width:60px;
    height: 60px;

}
.character {
    font-weight: bold;
    color:#30c7f4;
    float: left;
    width: 270px;
    margin: 5px 10px;
}
.play {
    margin-bottom: -4px;
    width: 20px;
}
.dialog-audio-container img{
    width: 40px;
}
.record-container {
    margin-left: 5px;
}
.record-container img {
    width: 40px;
}
h3 {
    margin: 10px;
    margin-left:0px;
}
.sentence-container {
    padding-left: 10px;
    min-height: 40px;
    padding: 10px;
}
#left-bottom {
    float: left;
    border-right: 1px solid #d2d2d2;
    padding: 10px;
}
#right-bottom {
    float: left;
    padding: 10px;
    width: 386px;
}
.record {
    margin-bottom: -8px;
    width: 26px;
}
#next-link {
    float: left;
    margin-left: 10px;
}
#prev-link {
    float: left;
    margin-left: 400px;
}
#loadResult {
    float: right;
}
#submitDiv{
    float: left;
    width: 960px;
}
.audio-container {
    overflow: hidden;
}
.circle{
    height:20px;    
    width:20px;
    margin-top: -1px;
    margin-right: 11px;
}
.logo {
    width: 199px;
}
#logo{
    float: left;
    border-right: 1px solid #e5e4e0;
    border-bottom: 1px solid #c0bfbb;
}