#activity-container .global-blue-bar,
#activity-container .global-orange-bar {
    width: 100%;
}   
#left-board{
    position: relative;
    float: left;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
#activity-container {
    overflow: hidden;
}
#reading-container {
    overflow-y: auto;
    padding: 20px;
    width: 500px;
    outline:none;
    line-height: 24px !important;
}
#white {
    width: 531px;
    position: absolute;
    height: 20px;
    top: 36px;
    background-color: white;
    z-index: 2;
    left: 1px;
}

#reading-board {
    width:540px;
    float:left;
    margin-bottom: 20px;
    position: relative;
}
#activity-board{
    width:450px;
    float:right;	
    padding-bottom: 10px;
}
#result-button{
    clear:both;
}

#sentences{
    margin: 0;
    list-style:none;
    padding: 20px;
}
#sentences li{
    margin-bottom:10px;
}
.blank-container{
    cursor:pointer;
}

.order-char{
    font-size:18px;
    font-weight: bold;
}

.textbox{
    height: auto;
}

.text{
    width:404px;
    font-size:14px;
    border: 1px solid #e0e0e0;
    -moz-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    -webkit-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    box-shadow: inset 0 16px 30px -21px #d9d9d9;
    resize: none;
    overflow: auto;
}

.showdiff{
    background:#F5770F;
    padding:3px 7px 3px 7px;
    font-weight: bold;
    color:#FFF;
    cursor:pointer;
    line-height: 24px;
}

.result {
    line-height: 24px;
    color:white;
    display:none;
}
#next-link {
    float: left;
    margin-left: 10px;
}
#prev-link {
    float: left;
}
#loadResult {
    float: right;
}