#user-setting-content {
    padding: 10px;
}

#user-info-user-avatar-outer > img {
    height: 100%;
    width: 100%;
}
#user-info-user-avatar-outer {
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    height: 160px;
    width: 160px;
    padding: 10px;
}

#user-info-upload-info {
    padding-top: 16px;
}

.uploadify-queue-item {
    display: block;
    margin: auto;
}

.uploadify-queue {
    margin-top: 20px;
}