#user-setting-content {
    padding: 10px;
}

.register-form-element-label {
    /*width: 120px;*/
    display: inline-block;
}

.register-form-element {
    margin-bottom: 35px;
}

#front-content {
    padding-bottom: 0 !important;
}

#message-block {
    /*border-bottom: 1px solid #e7e7e7;*/
    margin-bottom: 30px;
}

#edit-password-msg,
#edit-title-header {
    margin-bottom: 20px;
}
#edit-password-msg.success {
    color: green !important;
}

#edit-password-msg,
.errors {
    color: #B00000;
}

#edit_password_button {
    /*margin-left: 124px;
    width: 180px;*/
}

.form-control-wrapper {
    margin-top: -10px;
}