#front-content {
    background: #F8F8F8 !important;
}

#forgot-password-box {
    padding: 80px 20px;
}

#forgot-password-box h2 {
    color: #F36D00;
    margin-bottom: 40px;
}
#forgot-password-box p {
    color: #888;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 24px;
}

#forgot-password-box .error {
    color: #B00000;
}

#btn-submit {
    margin-top: 40px;
}