#front-content {
    background: #F8F8F8 !important;
}

#forgot-password-box {
    width: 500px;
    margin: 60px auto;
    box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 20px 20px 20px 20px;
    background: white;
}

#forgot-password-box h2 {
    color: #F36D00;
}
#forgot-password-box p {
    color: #888;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 24px;
}

#forgot-password-box .error {
    color: #B00000;
}

#btn-submit {
    width: 120px;
    margin-top: 20px;
}