#front-content {
    background: #F8F8F8 !important;
}

#reset-password-box {
    width: 500px;
    margin: 60px auto;
    box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 20px 20px 20px 20px;
    background: white;
    float: right;
}
input[type="text"], input[type="password"] {
    box-shadow: inset 0 32px 60px -42px #D9D9D9;
    border: 1px solid #D8D8D8;
    height: 24px;
    width: 240px;
    outline: none;
    float: right;
}
#reset-password-box h2 {
    color: #F36D00;
}
#reset-password-box p {
    color: #888;
    margin-top: 10px;
    margin-bottom: 20px;
}

#btn-submit {
    width: 120px;
    margin:0 0 0 62px;
}

#user-setting-content .alert.error {
    color: #B00000;
}

#user-setting-content h2 {
    color: #F36D00;
}

#user-setting-content a {
    color: #F36D00;
    text-decoration: none;
}
#user-setting-content a:hover {
    text-decoration: underline;
}

#user-setting-content {
    box-shadow: inset 0px -5px 10px 0px #F6F6F6;
    border: 1px solid #E8E8E8;
    padding: 10px 20px 20px 20px;
    min-height: 250px;
    width: 386px;
    background-color: #fff;
    color: #888;
    line-height: 24px;
    display: block;
    margin: 30px auto;
}

#password-label, #confirm_password-label {
    line-height: 34px;
}
#resetpassword_button {
    margin-top: 20px;
    width: 139px;
    float: right;
    clear: both;
}