#class-page-list {
    padding: 20px 40px 20px 40px;
    background: #F6F6F6;
    border-top: 1px solid #E8E8E8;
}

#class-page-list-title {
    padding: 10px 40px 10px 40px;
}

.class-page-item {
    padding-top: 0px;
    padding-right: 20px;
    box-shadow: inset 0px -5px 20px 0px #F2F2F2;
    background: white;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

.class-page-item-order, .class-page-item-content {
    display: table-cell;
}

.class-page-item-order {
    vertical-align: middle;
    width: 120px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #B00000;
    border-right: 1px solid #F0F0F0;
}

.class-page-item-content {
    vertical-align: top;
    padding-left: 20px;
}

.class-page-item-unpublished .class-page-title {
    color: #999 !important;
    font-style: italic;
}

.class-page-item-unpublished {
    color: #999 !important;
}

.class-page-item-unpublished .class-page-item-order {
    color: #999 !important;
}

.class-page-title {
    font-size: 13px !important;
    color: #EE7512 !important;
}

.class-page-links {
    float: right;
    margin-top: 10px;
}

.class-page-description {
    margin-top: 0px;
    line-height: 24px;
}

#create-new-class-page {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    
}

#create-new-class-page a {
    font-size: 16px !important;
}

#ranking-pagination {
    text-align: center;
    margin-bottom: 40px;
}

.class-page-links a {
    text-decoration: none;
    color: #0070C0;
}

.class-page-links a:hover {
    text-decoration: underline;
    color: #F36D00;
}

.class-page-title a {
    color: #F36D00;
    text-decoration: none;
}

.class-page-title a:hover {
    color: #B00000;
    text-decoration: underline;
}

.class-page-subtitle {
    margin-top: -8px;
    color: #888888;
    font-style: italic;
}