#activity-type-list-wrapper,.input-form{
    padding: 10px 20px 20px 20px;
    margin: 10px 40px 0px 40px;
    background-color: white;
    -webkit-box-shadow: 0px -1px 4px 1px rgba(180, 180, 180, 0.6);
    -moz-box-shadow: 0px -1px 4px 1px rgba(180, 180, 180, 0.6);
    box-shadow: 0px -1px 4px 1px rgba(180, 180, 180, 0.6);
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.element-wrapper{
    padding-top: 10px;
}

.input-label{
    width: 140px;
    display: inline-block;
}

.input-sample{
    margin-left: 140px;    
    color: #8C8C8C;
}

.input-form{
    display: none;
}

.has-helper-textbox{
    width: 250px;    
}
.input-helper{
    border: none;
    width: 16px;
    height: 16px;
    margin-left: -22px;
    margin-top: 4px;
    position: absolute;
    opacity: 0.3;
}

.input-helper:hover {
    cursor: pointer;
    opacity: 1;
}

#confirm {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 16px;
    padding: 6px 20px;
    background-color: #028AEC;
    background-image: linear-gradient(bottom, #0089EA 0%, #0F97FF 50%);
    background-image: -o-linear-gradient(bottom, #0089EA 0%, #0F97FF 50%);
    background-image: -moz-linear-gradient(bottom, #0089EA 0%, #0F97FF 50%);
    background-image: -webkit-linear-gradient(bottom, #0089EA 0%, #0F97FF 50%);
    background-image: -ms-linear-gradient(bottom, #0089EA 0%, #0F97FF 50%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #0089EA), color-stop(0.5, #0F97FF) );
    border: none;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding: 4px 10px 4px 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
