<div class="choose-correct-answer data-list" ng-controller="chooseCorrectAnswer">
	<ul class="question-list list-unstyled"
		ng-if="activity.questions.length > 0" ui-sortable="sortableOptions" ng-model="activity.questions">

		<!-- Repeat box -->
		<li class="box question" ng-repeat="box in activity.questions track by $index">
			<div ng-if="box.isDivider" ng-bind-html="box.dividerContent"></div>
			<div class="content" 
				ng-class="{composite: box.list.length > 1}"
				ng-if="!box.isDivider">
				<div ng-bind-html="box.paragraph"></div>

				<!-- Repeat question -->
				<div class="question-item" ng-repeat="question in box.list track by $index">
					<!-- Repeat answer -->
					<ul class="answer-list list-unstyled">
						<li class="order composite">{{orderer.computeOrder(question, activity, activities)}}</li>
						<li class="answer" 
							ng-class="{key: $index == question.key}"
							ng-repeat="answer in question.answers track by $index">
							{{answer}}
						</li>
					</ul>
					<div class="explanation" 
						ng-show="question.explanation.length > 1"
						ng-bind-html="question.explanation"></div>
					</div>
			</div>
			<div class="actions">
				<a href class="move glyphicon glyphicon-move" title="Kéo thả để thay đổi vị trí"></a>
				<a href class="edit fa fa-pencil-square-o" ng-click="editQuestion(box)" title="Sửa lại câu hỏi"></a>
				<a href class="delete fa fa-times" ng-click="deleteQuestion(box, activity.questions)" title="Xóa câu hỏi này"></a>
			</div>
		</li>
	</ul>
</div>