#pricing .head {
    text-align: center;
}

#pricing .head h3 {
    font-size: 28px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 20px 0;
    color: #252528;
}

#pricing .head h6 {
    font-size: 16px;
    margin: 0;
    color: #8E8E8F;
    font-weight: normal;
}

#pricing .head a {
    text-decoration: none;
    color: #008CD2;
}

#pricing .head a:hover {
    text-decoration: underline;
    color: #F36D00;
}

#all-packages {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#all-packages .package:first-child {
    /*margin-left: 147px;*/
}

#all-packages .package {
    border-radius: 6px;
    box-shadow: 0 1px 6px 1px #e0e0e0;
    background-color: #fff;
    width: 250px;
    position: relative;
    padding: 33px 30px 26px 30px;
    /*margin-left: 15px;*/
    margin: auto;
    /*display: inline-block;*/
    vertical-align: top;
    border: 1px solid #e0e0e0;
}

#all-packages .package h3 {
    color: #535353;
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    margin: 0 0 5px 0;
    line-height: 25px;
}

#all-packages .price {
    font-size: 17px;
    color: #1189D9;
    margin-top: 16px;    
}

#all-packages .price .value {
    font-size: 36px;
    margin-right: 4px;
    position: relative;
    top: 2px;
}
#all-packages .price .unit {
    font-size: 28px;
    position: relative;
    top: -6px;
    margin-right: 3px;
    vertical-align: 14px;
}
#all-packages .price .month {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
}

#all-packages .package.small h3 {
    color: #535353;
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    margin: 0 0 5px 0;
    line-height: 25px;
}

#all-packages .package.small.s1 {
    margin-left: 220px;
}

#all-packages .package.small .price .value {
    font-size: 18px;
    margin-right: 4px;
    position: relative;
    top: 2px;
}
#all-packages .package.small .price .unit {
    font-size: 14px;
    position: relative;
    top: -0px;
    margin-right: 3px;
    vertical-align: 14px;
}
#all-packages .package.small .price .month {
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
}
#all-packages .package.small .features p {
    line-height: 24px;
}


#all-packages .features {
    margin-top: 30px;
    min-height: 221px;
}

#all-packages .features p {
    color: #838385;
    margin-bottom: 5px;
    font-size: 14px;
}

#all-packages .order:hover {
    background-color: #0083C4;
}

#all-packages .order {
    background-color: #2190DB;
    text-align: center;
    margin: 25px auto 0;
    width: 100px;
    display: block;
    padding: 7px 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

#all-packages .package .popular {
    position: absolute;
    top: 0;
    right: 0;
}

#all-packages .package.pro {
    top: -9px;
    padding-top: 70px;
    margin-left: 50px;
}

#all-packages .package.small {
    width: 200px;
}

#pricing {
    margin-top: 20px;
}

#all-packages .divider {
    height: 1px;
    margin: 20px 0;
}